@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    font-family:'Poppins', sans-serif;

}


nav li a, .navbar-brand{
    transition: 0.2s;
    
}

 nav li a:hover, .navbar-brand:hover{
    color: white;
    background: #2196f3;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}


#about{
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}
.image-profile{
    background-size: cover;
    width: 100%;
    height: 300px;

}
.card-img-bottom{
    z-index: 1;
    width: 300px;
    height: 250px;
    position: relative;
    margin-top: -120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle();
    transition-duration: 0.4s;
    transition-property: transform;
}
.card-img-bottom:hover{
    transform: scale(1.1);

}

#skills{
   background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/monitor-1307227_1280.jpg");
  
}

.skill-level:hover{
    color: white;
    background: #2196f3;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}
#experience{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px ;
    background:url(../images/bokeh-2990426_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

#experience h2{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 7em;
    text-transform: uppercase;
    text-align: center;
    background: url(../images/bokeh-2990426_1920.jpg);
    background-attachment: fixed;
    background-clip: text;
    -webkit-text-fill-color:#fff;
}
#experience h2:before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    text-shadow: -5px 5px 20px #000,
                 -10px 10px 30px #000,
                 -20px 15px 40px #000,
                 -25px 20px 50px #000;

}


#contacts{
   
    background: url(../images/dandelion-6266230_1920.jpg);
    background-size: cover;
    
    
}
.contact-card:hover{
  
    border-radius: 5%;
    padding: 3px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    transition: 0.5s;
}

.social-icons li a{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 20px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
  }
  .social-icons li a:hover{
    background: #2196f3;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    
  }
  .social-icons li a .fa{  
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg,  #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: 0.5s;
  
  }
  .social-icons li:nth-child(1) a:hover .fa{
    color:#3b5998;
  
  }
  .social-icons li:nth-child(2) a:hover .fa{
    color: #00aced;
  
  }
  .social-icons li:nth-child(3) a:hover .fa{
    color:#007bb6;
  
  }
  .social-icons li:nth-child(4) a:hover .fa{
    color:#007bb6;
  
  }
  
  




    
    
   